<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Create</title>
</head>
<body>
<h1>График</h1>

<form method="post" action="/chart">
<div class="field_block">
	
</div>
<a href="#" onclick="add_field()">Добавить</a><br><br>

<input type="submit" name="submit" value="Создать">
</form>
<script type="text/javascript">

function create_field(id_field){
	let div = document.createElement("div");
	div.classList.add("field_"+id_field);
	div.classList.add("form_field");
	div.insertAdjacentHTML('beforeend', `
		<input type="text" required placeholder="Tiker" name="tiker_`+id_field+`">
		`);
	div.insertAdjacentHTML('beforeend', `
		<select name="data_`+id_field+`">
		  <option value="candle">Свечка</option>
		  <option value="pr_vwap">pr_vwap</option>
		  <option value="pr_vwap_b">pr_vwap_b</option>
		  <option value="pr_vwap_s">pr_vwap_s</option>
		  <option value="pr_change">pr_change</option>
		  <option value="trades">trades</option>
		  <option value="trades_b">trades_b</option>
		  <option value="trades_s">trades_s</option>
		  <option value="vol">vol</option>
		  <option value="vol_b">vol_b</option>
		  <option value="vol_s">vol_s</option>
		  <option value="val">val</option>
		  <option value="val_b">val_b</option>
		  <option value="val_s">val_s</option>
		  <option value="disb">disb</option>
		  <option value="pr_std">pr_std</option>
		  <option value="put_orders">put_orders</option>
		  <option value="cancel_orders">cancel_orders</option>
		  <option value="put_orders_b">put_orders_b</option>
		  <option value="put_orders_s">put_orders_s</option>
		  <option value="cancel_orders_b">cancel_orders_b</option>
		  <option value="cancel_orders_s">cancel_orders_s</option>
		  <option value="put_vol">put_vol</option>
		  <option value="cancel_vol">cancel_vol</option>
		  <option value="put_vol_b">put_vol_b</option>
		  <option value="cancel_vol_b">cancel_vol_b</option>
		  <option value="cancel_vol_s">cancel_vol_s</option>
		  <option value="put_val">put_val</option>
		  <option value="cancel_val">cancel_val</option>
		  <option value="put_val_b">put_val_b</option>
		  <option value="put_val_s">put_val_s</option>
		  <option value="cancel_val_b">cancel_val_b</option>
		  <option value="cancel_val_s">cancel_val_s</option>
		  <option value="put_vwap_b">put_vwap_b</option>
		  <option value="put_vwap_s">put_vwap_s</option>
		  <option value="cancel_vwap_b">cancel_vwap_b</option>
		  <option value="cancel_vwap_s">cancel_vwap_s</option>
		  <option value="spread_bbo">spread_bbo</option>
		  <option value="spread_lv10">spread_lv10</option>
		  <option value="spread_1mio">spread_1mio</option>
		  <option value="levels_b">levels_b</option>
		  <option value="levels_s">levels_s</option>
		  <option value="vol_b">vol_b</option>
		  <option value="vol_s">vol_s</option>
		  <option value="imbalance_vol">imbalance_vol</option>
		  <option value="imbalance_vol_bbo">imbalance_vol_bbo</option>
		  <option value="imbalance_val">imbalance_val</option>
		  <option value="imbalance_val_bbo">imbalance_val_bbo</option>
		  <option value="vwap_b">vwap_b</option>
		  <option value="vwap_s">vwap_s</option>
		  <option value="vwap_b_1mio">vwap_b_1mio</option>
		  <option value="vwap_s_1mio">vwap_s_1mio</option>
		</select>
		`);
	return div
	

}
function add_field() {

	
	let id_field = document.querySelectorAll(".form_field").length;
	let div = create_field(id_field);
	document.querySelector(".field_block").appendChild(div);
}
</script>
</body>
</html>